
 
.section-features ,
.section-special {
    background:var(--white-color);
}
.section-features{
     padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
       padding-top: 94px;
       padding-bottom: 94px;
        } 
}


.features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

        .section-tittle {
            margin-bottom: 10px;
            @media screen and (max-width: 767px) {
                  text-align: center;
            }
          
        }
        .text {
            color: var(--general-text-color);
            @include font(null, 14px, 1.71, null);
        }
        
}


.features .list:not(:last-child){
    margin-bottom: 30px;

}

.features .list {
    width: 100%;
    
    @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    } 

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
        } 
}

.icon-bg {
    
   
        height: 120px;

    background: #F5F4FA;
        border-radius: 4px;
    margin-bottom: 30px; 

    display: flex;
    justify-content: center;
    align-items: center;
}


.features-box{
    width: 100%;
}
