:root{
    --primary-text-color:#2F303A;
    --tittle-text-color:#212121;
    --general-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color:#F5F5F5;
    --secondary-bg-color:#F5F4FA;
    --white-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --secondary-button-colar:#188CE8;
    --logo-dark-color:#000000;
    --border-color:#EEEEEE;
    --icon-color: #AFB1B8        
}

